.header {
  align-items: center;
  // background: #8f57fd;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: 0 8px 8px 0 rgba(7, 83, 248, 0.397);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgb(255, 245, 245);
}
.isLogin,
.isRegister {
  background-color: #21c08b;
  align-items: center;
  border: none;
  box-shadow: none;
}
.header__img {
  margin-left: 30px;
  width: 100px;
  height: 80px;
  border-radius: 10px;
}
.gravatar {
  border-radius: 20px;
}
.header__menu {
  margin-right: 30px;
}

.header__menu ul {
  display: none;
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
}
.hover-header {
  background-color: white;
  border-radius: 10px;
  text-align: right;
}
.header__menu:hover ul,
ul:hover {
  display: block;
}

.header__menu li {
  margin: 4px 6px;
}

.header__menu li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: right;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
  object-fit: cover;
}
