.categories__title {
  background: #8f57fd;
  color: white;
  font-size: 16px;
  margin-top: -16px;
  position: absolute;
  padding-left: 30px;
  width: 100%;
  background: rgba(0, 255, 242, 0.01);
  box-shadow: 0 8px 8px 0 rgba(7, 83, 248, 0.397);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgb(255, 245, 245);
}
